*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.log-table{
  position: absolute;
  border-collapse: collapse;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  font-family: sans-serif;
  text-align: left;
}
.dashboard-table{
  border-collapse: collapse;
  width: 40%;
  margin: auto;
  font-family: sans-serif;
  text-align: left;
}
td{
  padding-left: 0.5rem;
}
th{
  padding: 0.5rem;
  background-color: rgb(33, 219, 173);
}
th:first-child{
  border-radius: 2px 0 0 15px;
}
th:last-child{
  border-radius: 0 15px 2px 0;
}
tr:nth-child(even){
  background-color: rgb(224, 224, 224);
}
tbody tr:last-child{
  border-bottom: thin solid rgb(33, 219, 173);
}
p{
  margin: 0;
}
.dashboard-weather{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.dashboard-link{
  margin-left: 0.5rem;
}
.remove{
  text-decoration: none;
  font-weight: bold;
}
.container{
  width: 40%;
  margin: auto;
}