<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/application.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{user.username}}</title>
</head>
<body>
  <h1>{{user.username.capitalize()}} cities</h1>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>City name</th>
        <th>Country</th>
        <th>Temp, C</th>
      </tr>
    </thead>
    <tbody>
      {%for item in user.cities%}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.country_code}}</td>
        <td>{{item.temp}}</td>
      </tr>

    {%endfor%}
    </tbody>
  </table>
</body>
</html>