<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a download='data.csv' href='data:text/csv;charset=utf-8,{{city["for_csv"]}}' style='display:block;'>download raw data (CSV)</a>
  <div style='display:flex;flex-direction:row;'>
    <img src='data:image/png;base64,{{city["data0"]}}'/>
    <a href='data:application/pdf;base64,{{city["data4"]}}' target="_blank">download graphical data (PDF)</a>
    </div>
    <div style='display:flex;flex-direction:row;'>
    <img src='data:image/png;base64,{{city["data1"]}}'/>
    </div>
    <div style='display:flex;flex-direction:row;'>
    <img src='data:image/png;base64,{{city["data2"]}}'/>
    </div>
    <div style='display:flex;flex-direction:row;'>
    <img src='data:image/png;base64,{{city["data3"]}}'/>
    </div>
</body>
</html>