<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
</head>
<body>
  <h2><a href="/weather">Weather Search</a></h2>
  <p>Type in a city to see the weather</p>
  <form action="{{url_for('weather', city_id = city_id, user_id = user)}}" method="post">
    <input id="weatherInput" type="text" name="city" id="city">
    <button type="submit">Search</button>
  </form>

  {%if items != None:%}
  <ul>
    {%for item in items:%}
    <li>
      {%if item['state'] == '':%}
      <a href="{{'/weather?city_id={}&user_id={}'.format(item['id'], user)}}">
        {{item['name'] + ', ' + item['country']}}
        {%else:%}
        <a href="{{'/weather?city_id={}&state={}&user_id={}'.format(item['id'], item['state'], user)}}">
        {{item['name'] + ', ' + item['state'] + ', ' + item['country']}}
        {%endif%}
      </a>
    </li>
    {%endfor%}
  </ul>
  {%endif%}

  {%if city != None:%}
  <div>
  <h2>{{city['city']}}</h2>
  <p>Temperature: {{city['temp']}} C</p>
  {%if city['country_code'] == 'US':%}
  <a href="{{'/weather_history?name={}&cont={}&state={}'.format(city['city'].replace(' ', '_'), city['country_code'], city['state'])}}">
    Get historical temperature</a>
  {%else:%}
  <a href="{{'/weather_history?name={}&cont={}'.format(city['city'].replace(' ', '_'), city['country_code'])}}">
    Get historical temperature</a>
  {%endif%}
  {%if g.user:%}
  <a href="{{'/add?id={}'.format(city['id'])}}" style="display: block;">Add to your dashboard</a>
  {%endif%}
  </div>
  {%endif%}

</body>
</html>